{% extends "global/Page.html" %}
{% load otree %}

{% block title%}
    <div class="d-flex justify-content-center">
        <h2 style="margin-bottom:20px">FIRST TASK - INSTRUCTIONS</h2>
    </div>
{% endblock %}

{% block content %}

<audio id="st_why" src="{% static "st_why.mp3" %}"></audio>

<script>
    function voltest() {
        document.getElementById('st_why').play();
    }
</script>

<style>
    .tablecentercells td{
        text-align:center;
    }
    .tablecenterhead th{
        text-align:center;
    }
</style>

<div class="jumbotron">
    <p>
        In the following task, you will presented with two products for each question. </p>
    <p>
        Your task is to decide which product you prefer between the two products.
        You will have to wait <b>at least 5 seconds</b> before making a choice.
        Please take the time to <b>consider your options.</b> </p>
    <h3>
        <b>Sample Question:</b>
    </h3>
    <img style="margin-bottom: 30px; max-width: 100%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)" src="{% static "ChoiceTaskExample.png" %}">
    <p>
        You will be presented with a total of <b>67</b> questions. The number of questions completed will be indicated as
        a progress bar at the top of your screen. </p>
    <p>
        To ensure that your choices reflect your preferences, <b>3 questions</b> out of the 67 will be repeated at the end.
        You will have to recall <b>at least 2</b> of the previous choices in order to receive the full payout.
        A <b>bonus</b> will be given if <b>all 3</b> of the same choices are recalled.
        You will have a short questionnaire after this task.
    </p>
    <table class="table table-bordered table-sm tablecentercells tablecenterhead">
  <thead>
    <tr class="table-dark">
      <th scope="col">Correctly Recalled Choices</th>
      <th scope="col">Payout</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-light">
      <td>0 or 1</td>
      <td>- 2€</td>
    </tr>
    <tr class="table-default">
      <td>2</td>
      <td>12€</td>
    </tr>
      <tr class="table-light">
      <td>3</td>
      <td>+ 3€</td>
    </tr>
  </tbody>
</table>
</div>

<div class="jumbotron" style="background-color: #e6f7ff">
    <p>
        Please <b>adjust the volume</b> of your headphones to ensure a comfortable listening experience throughout this
        experiment. Adjust the volume to a level at which you would normally listen to music to. Click the speaker icon to start an audio sample:
        <button type=button onclick="voltest()" class="btn-xs btn-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-volume-up-fill" viewBox="0 0 16 16">
                  <path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
                  <path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
                  <path d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"/>
                </svg>
        </button>
    </p>
</div>

<div class="d-flex justify-content-center">
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
</div>

{% endblock %}
