{% extends "global/Page.html" %}
{% load otree %}

{% block title%}
    <div class="d-flex justify-content-center">
        <h2 style="margin-bottom:20px">TASK PERCEPTIONS QUESTIONNAIRE</h2>
    </div>

    {% if mt != 'mt_none' %}
    <img src="{% static 'musicHint.png' %}" width="150px" style="position: fixed; top: 0; right: 0; border: 0">
    {% endif %}

{% endblock %}

{% block content %}

    <script>
        document.addEventListener('DOMContentLoaded', () => {   // CHART FOR 3 TICKETS
            var cards = $(".formfield");
            for (var i = 0; i < cards.length; i++) {
                var target = Math.floor(Math.random() * cards.length - 1) + 1;
                var target2 = Math.floor(Math.random() * cards.length - 1) + 1;
                cards.eq(target).before(cards.eq(target2));
            }
        })
    </script>

    <div class="jumbotron" style="padding-top: 5%">
        <h4 style="">Please answer the following questions about how you feel after the first task.</h4>

        <div class="formfield">
            <hr/>
            <div class="row">
                <h4 style="text-align:center"> By the end of the choices task, how tired did you feel? </h4>
            </div>
            <div class="slidecontainer" style="margin-top: 15px; padding-left: 4%; padding-right: 4%">
                <input name="egodep1" type="range" min="1" max="7" value="4" class="slider" id="myRange">
            </div>
            <div class="row">
                <div class="scaleelement">
                    <h5 style="text-align:center">1</h5>
                    <h5 style="text-align:center; font-weight:bold">Not at All</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">2</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">3</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">4</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">5</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">6</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">7</h5>
                    <h5 style="text-align:center; font-weight:bold">Very</h5>
                </div>
            </div>
        </div>

        <div class="formfield">
            <hr/>
            <div class="row">
                <h4 style="text-align:center"> By the end of the choices task, how fatigued did you feel? </h4>
            </div>
            <div class="slidecontainer" style="margin-top: 15px; padding-left: 4%; padding-right: 4%">
                <input name="egodep2" type="range" min="1" max="7" value="4" class="slider" id="myRange">
            </div>
            <div class="row">
                <div class="scaleelement">
                    <h5 style="text-align:center">1</h5>
                    <h5 style="text-align:center; font-weight:bold">Not at All</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">2</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">3</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">4</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">5</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">6</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">7</h5>
                    <h5 style="text-align:center; font-weight:bold">Very</h5>
                </div>
            </div>
        </div>

        <div class="formfield">
            <hr/>
            <div class="row">
                <h4 style="text-align:center"> By the end of the choices task, how frustrated did you feel? </h4>
            </div>
            <div class="slidecontainer" style="margin-top: 15px; padding-left: 4%; padding-right: 4%">
                <input name="egodep3" type="range" min="1" max="7" value="4" class="slider" id="myRange">
            </div>
            <div class="row">
                <div class="scaleelement">
                    <h5 style="text-align:center">1</h5>
                    <h5 style="text-align:center; font-weight:bold">Not at All</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">2</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">3</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">4</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">5</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">6</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">7</h5>
                    <h5 style="text-align:center; font-weight:bold">Very</h5>
                </div>
            </div>
        </div>

        <div class="formfield">
            <hr/>
            <div class="row">
                <h4 style="text-align:center"> How effortful was the task? </h4>
            </div>
            <div class="slidecontainer" style="margin-top: 15px; padding-left: 4%; padding-right: 4%">
                <input name="egodep4" type="range" min="1" max="7" value="4" class="slider" id="myRange">
            </div>
            <div class="row">
                <div class="scaleelement">
                    <h5 style="text-align:center">1</h5>
                    <h5 style="text-align:center; font-weight:bold">Not at All</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">2</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">3</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">4</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">5</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">6</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">7</h5>
                    <h5 style="text-align:center; font-weight:bold">Very</h5>
                </div>
            </div>
        </div>

        <div class="formfield">
            <hr/>
            <div class="row">
                <h4 style="text-align:center"> How difficult was the choices task? </h4>
            </div>
            <div class="slidecontainer" style="margin-top: 15px; padding-left: 4%; padding-right: 4%">
                <input name="egodep5" type="range" min="1" max="7" value="4" class="slider" id="myRange">
            </div>
            <div class="row">
                <div class="scaleelement">
                    <h5 style="text-align:center">1</h5>
                    <h5 style="text-align:center; font-weight:bold">Not at All</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">2</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">3</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">4</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">5</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">6</h5>
                </div>
                <div class="scaleelement">
                    <h5 style="text-align:center">7</h5>
                    <h5 style="text-align:center; font-weight:bold">Very</h5>
                </div>
            </div>
        </div>

    </div>

    <div class="d-flex justify-content-center" style="clear:both">
        <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
    </div>


{% endblock %}
